################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Modmail_Forwarder/bin
/Modmail_Forwarder/obj/Debug
/Modmail_Forwarder/config.debug.json
